<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Neosoft Technologies. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_store_listing_data_source" xsi:type="string">Neosoft\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Neosoft\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">store_locator</argument>
            <argument name="resourceModel" xsi:type="string">Neosoft\StoreLocator\Model\ResourceModel\StoreLocator</argument>
        </arguments>
    </virtualType>
    <type name="Neosoft\StoreLocator\Model\ResourceModel\StoreLocator">
        <plugin name="algoliaStores" type="Neosoft\StoreLocator\Model\Indexer\StoreLocatorObserver"/>
    </type>
    <preference for="Algolia\AlgoliaSearch\Helper\Data" type="Neosoft\StoreLocator\Helper\Data" />
    <preference for="Algolia\AlgoliaSearch\Model\Source\JobMethods" type="Neosoft\StoreLocator\Model\Source\JobMethods" />
</config>
